/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
  }

.title {
font-family: 'Basic';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 50px;
text-align: center;
padding: 1rem;

color: #020E35;
}

.sub-title {
font-family: 'Basic';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
text-align: center;
padding: 1rem;

color: #2B2B2B;
}

.btn-price {
width: 140px;
height: 40px;
left: 650px;
top: 1669px;

background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
}

.panah{
width: 10%;
height: 10%;
border-radius: 50%;
background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
border: 2px solid #FFFFFF;
}

.background{
background: linear-gradient(to bottom, white 50%, #020E35 50%);
margin: 0;
padding: 0;
height: 100vh;
}