.font-basic{
    font-family: 'Basic';
    font-style: normal;
}

.font-worksans{
    font-family: 'Work Sans';
    font-style: normal;
}

.news-sub{
    font-weight: 400;
    font-size: 30px;
}

.news-title{
    font-weight: 400;
    font-size: 90px;
}

.grad {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
  }